body{
	font-family: 'Rancho', cursive;
}


div.ui.grid{
	background: #EDEAC7;
}

article{
	background: #EDEAC7;
}

img.Background{
	width:100%;
	height: 110%;
	position: relative;
}

img.myIcon{
	position: absolute;
	z-index: 1;
	top:3em;
	left: 1em;
	height: 600px;
	width: auto;
}

h1,h3{
	position: absolute;
	z-index: 1;
	top: 15px;
}

p{
	font-size: 2em;
}

h1{
	top: 2em;
	right: 2em;
}

h3.high{
	top:5em;
	right: 2.5em;
}

h3.low{
	top: 6.25em;
	right: 2.5em;
}

div.ui.menu{
	position: absolute;
	z-index: 1;
	top: 7px;
	left: 70px;
}

.ui.raised.segment{
	margin-left: 2em;
	margin-right: 2em;
}


article.sixteen.wide.column{
	margin-top: 4em;
	margin-bottom: 3em;
}

.ui.grid > .column:not(.row), .ui.grid > .row > .column{
	padding-right: 0px;
}

.ui.label{
	background-color: #237872;
}

div.ui.icon.button{
	position: absolute;
	z-index: 1;
	top:20px;
	left: 20px;
}